.cndtn-crd{
    margin-top: 26px;
    border: 0.5px solid #7E7E8F;
    border-radius: 10px;
    margin-right: 75px;
    width: 100%;
    height: 90%;
}
.ant-card .ant-card-head{
    border-bottom: 0.5px solid #7E7E8F;
   margin-top: -10px;
   padding-top: 10px;
}
.ant-card .ant-card-head{
    padding-right: 560px;
}
.cndtn-div{
    display: flex;
    width:"100%";
    padding-top:1px;
   
}
.cndtn-dropdwn{
    border-radius: 6px;
    background: #DDE1F8;
    font-family: "Open Sans";
    font-size: 14px;
    padding: 1%;
    margin-right: 10px;
    width: 40%;
    margin-left: 10px;
    color: #383874;
}
.cndtn-dropdwn-value{
    font-family: "Open Sans";
    font-size: 14px;
    
}
.cndtn-lbl{
    font-family: Roboto;
    font-size: 15px;
    color: #000;
    /* margin-left: 20px; */
    padding-top: 4px;
    /* padding-left: 30px; */
}

.cndtn-down-icon{
    padding-top: 6%;
    font-size: 9px;
    float: right;
}
.cntd-prvw-dpdwn{
    border-radius: 6px;
    background: #DDE1F8;
    font-family: "Open Sans";
    font-size: 14px;
    padding: 0.5%;
    width: 11%;
    margin-left: 10px;
    color: #383874;
}
.cq-queryok{
    color: #383874;
    padding-left: 11%;
    font-size: 16px;
    font-weight: 600;
}
.cq-queryok-p {
    color:#383874;
    /* font-family: Roboto; */
    font-size: 12px;
    opacity: 0.6;
    margin-top: 1px;
    padding-left: 11%;
}
.cq-queryok-chart{
    padding-left: 11%;
    margin-top: -1%;
}