.threshold-tble{
   max-width: 100%;
    padding-top: 1%;
    margin-left: -26px;
}

.threshold-tbl-lbl{
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;

}